polymer-starter-kit
bower_components/
node_modules/
.sass-cache/
.idea/
dist/
.tmp/
app/**/generated*.js
app/config/config.js
app/config/config2.js
app/images/svg_gen
app/images/svg_min
.DS_Store
nohup.out
*.iml
*.ipr
*.iws
npm-debug.log
